<app-best-seller></app-best-seller>
<div class="wrapper sticky" style="position: fixed !important">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon style="margin-bottom: 6px">storefront</mat-icon> Fruver San Marco
    </a>
    <ul>
      <li>
          <!-- ubicación ícono del carrito de compras -->
      </li>
      <li>
        <a style="cursor: pointer;" (click)="loginAction()">Login</a>
      </li>
    </ul>
  </nav>
</div>
<div class="show">
  
</div>
<div class="footer" id="signup">
  <h3>Todos los derechos reservados @fruverSanMarco.com</h3>
</div>