<app-product-view></app-product-view>
<app-best-seller></app-best-seller>
<div class="wrapper sticky" style="position: fixed !important">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon style="margin-bottom: 6px">storefront</mat-icon> Fruver San Marco
    </a>
    <ul>
      <li>
        <a class="icon-container" #btnCart (click)="onToggleCart()">
          <mat-icon style="margin-bottom: 6px">shopping_cart</mat-icon>
          <span *ngIf="(myCart$ | async)?.length" class="number">
            {{ (myCart$ | async)?.length }}
          </span>
        </a>
      </li>
      <li>
        <a style="cursor: pointer;" (click)="loginAction()">Login</a>
      </li>
    </ul>
  </nav>
</div>
<div class="show" *ngIf="viewCart">
  <app-shopping-cart></app-shopping-cart>
</div>
<div class="footer" id="signup">
  <h3>Todos los derechos reservados @fruverSanMarco.com</h3>
</div>