<div class="card" style="margin-top: 50px;">
    <p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name,description,price]"
        [sortField]="sortField" [sortOrder]="sortOrder" layout="grid" emptyMessage="No hay productos hasta el momento">
        <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between">
                <p-dropdown [options]="sortOptions" placeholder="Ordenar Por"
                (onChange)="onSortChange($event)" [style]="{'min-width':'15em'}"></p-dropdown>
                <span class="mb-2 md:mb-0" style="display: flex; justify-content: space-between;">
                    <input type="search" pInputText placeholder="Buscar" [style]="{'min-width':'25em', 'font-size': '16px'}" (input)="filter(dv, $event)" >
                </span>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="gridItem">
            <div class="col-12 md:col-4">
                <div class="product-grid-item card">
                    <div class="imgDw">
                        <img [src]="product.image" style="width: 200px; height: 100px;">
                    </div>
                    <div class="product-grid-item-content">
                        <div class="product-name">{{product.name}}</div>
                        <div class="product-description">{{product.description}}</div>
                    </div>
                    <div class="product-grid-item-bottom">
                        <span class="product-price">${{product.price}}</span>
                        <p-button icon="pi pi-shopping-cart" #btnAddToCart (onClick)="addToCart(product)" ></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
</p-dataView>