<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Más Vendidos</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/mango.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/mango.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Mango</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Los mangos contienen enzimas digestivas que ayudan a descomponer las proteínas, ayudando a la digestión. También es útil contra la acidez debido a una enzima presente en ella, que alivia el estómago.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/pera.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/pera.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pera</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Las peras son los frutos provenientes de los perales. Consumidas en todo el mundo y famosas como alimento y por sus distintas propiedades para la salud.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/manzana.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/manzana.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Manzana</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Las manzanas tienen muchos beneficios. Son ricas en vitamina C, que estimula el sistema inmunológico. Están llenas de pectina, que es una buena fibra. También fortalecen las encías, reduce los niveles de colesterol, y poseen acciones antivirales. </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/zanahoria.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/zanahoria.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Zanahoria</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">La zanahoria destaca por su alto contenido de vitamina A, que ayuda a mejorar la vista. Al vapor, hervida, cruda, cocida, licuada o simplemente fresca y a bocados, esta delicia anaranjada.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Sé Parte
                        <br />
                        de nuestra
                        <br />
                        familia!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>